<ol>
  <li><a href="#q_1">What is the Eclipse Foundation?</a></li>
  <li><a href="#q_2">What are its main goals?</a></li>
  <li><a href="#q_3">Why has the Eclipse Foundation moved to Europe?</a></li>
  <li><a href="#q_4">What does the Eclipse Foundation hope to achieve with its move to Europe?</a></li>
  <li><a href="#q_5">How does open source contribute to the global economy?</a></li>
  <li><a href="#q_6">What does the Eclipse Foundation offer its members?</a></li>
  <li><a href="#q_7">What does this move mean for members of the Foundation?</a></li>
  <li><a href="#q_8">What does this move mean for project committers and contributors?</a></li>
  <li><a href="#q_9">What does this move mean for European stakeholders?</a></li>
  <li><a href="#q_10">What does this move mean for global stakeholders?</a></li>
  <li><a href="#q_11">Does this mean you are shutting down Eclipse Foundation-US?</a></li>
  <li><a href="#q_12">Does this mean you are shutting down Eclipse Foundation Europe GmbH?</a></li>
  <li><a href="#q_13">Does the Eclipse Foundation have a patent policy?</a></li>
  <li><a href="#q_14">How can I support this move to Europe?</a></li>
</ol>
<p id="q_1"><strong>Q. What is the Eclipse Foundation?</strong></p>
<ol type="A">
  <li>
    <p>The Eclipse Foundation is an independent nonprofit corporation based in Brussels. The Foundation provides a
      global community of individuals and organisations with a mature, scalable, and business-friendly environment for
      open source software collaboration and innovation. The Foundation is home to the Eclipse IDE, Jakarta EE, and over
      375 and growing open source projects, including runtimes, tools, and frameworks for many technology areas,
      including:</p>
    <ul class="margin-bottom-10">
      <li>cloud and edge applications,</li>
      <li>the Internet of Things,</li>
      <li>artificial intelligence,</li>
      <li>automotive,</li>
      <li>systems engineering,</li>
      <li>distributed ledger technologies, and</li>
      <li>open processor designs.</li>
    </ul>
    <p>The Eclipse Foundation is supported by over 300 members, including industry leaders who have embraced open source
      as a key enabler for their business strategies.</p>
  </li>
</ol>
<p id="q_2"><strong>Q. What are its main goals?</strong></p>
<ol type="A">
  <li>
    <p>The Eclipse Foundation exists to advance open source projects and to cultivate communities and business
      ecosystems around the globe. The Foundation provides four key services to the Eclipse community: </p>

    <ul class="margin-bottom-10">
      <li>Vendor-neutral governance and processes,</li>
      <li>Intellectual property (IP) management and licensing,</li>
      <li>Ecosystem development and marketing, and</li>
      <li>IT infrastructure.</li>
    </ul>
    <p>Open source innovation will drive the technological solutions expected to transform the global economy. The
      Eclipse Foundation strives to enable these solutions by being the leading community for individuals and
      organisations to collaborate on commercially-friendly open source, for the benefit of industries and developer
      communities worldwide.</p>
  </li>
</ol>
<p id="q_3"><strong>Q. Why has the Eclipse Foundation moved to Europe?</strong></p>
<ol type="A">
  <li>
    <p>The move of the corporate governance of Eclipse Foundation to Europe has been done to provide global stakeholders
      more choice for their strategic open source initiatives. We believe that more choice and greater diversity will be
      of benefit to both the global open source communities, and for the industries that rely upon and collaborate with
      them. The Eclipse Foundation aspires to be a truly global institution, now with a new European home.</p>
    <p>To an extent, this move is merely confirmation of the Foundation’s current reality and global growth trajectory.
      The Eclipse Foundation is already the largest open source organisation in Europe as measured in staff, projects,
      developers, and members. One hundred seventy members and over nine hundred committers are based in Europe and we
      have operated our subsidiary Eclipse Foundation Europe GmbH for more than seven years.</p>
  </li>
</ol>

<p id="q_4"><strong>Q. What does the Eclipse Foundation hope to achieve with its move to Europe?</strong></p>
<ol type="A">
  <li>
    <p>By moving to Europe, we aim to advance open source projects that can transform the global economy, for the
      benefit of industries and developer communities worldwide. The free flow of software innovation is critical to
      economic activity in all countries, in all industry sectors. From our new base in Europe, we will accelerate the
      growth of a global, sustainable ecosystem with a competitive and level playing field that delivers broad benefits
      to developers and industry.</p>
  </li>
</ol>
<p id="q_5"><strong>Q. How does open source contribute to the global economy?</strong></p>
<ol type="A">
  <li>
    <p>Open source innovation is crucial for the advancement of new technologies across multiple industries, thus a key
      factor in the continued growth of the global economy. The open source model — how it is developed, shared, and
      used — is central to technological innovation and digitalization in many industry sectors including
      transportation, logistics, healthcare, telecommunications, pharmaceuticals, energy, manufacturing, and more. These
      industries rely upon a global supply chain of open source software which fuels their growth, innovation, and
      digitalization strategies. Enterprises and industrials around the world are fueling the next wave of open source
      adoption and, in turn, contributing to economic activity and business growth. To sustain open source and thus
      economies across the world, open source foundations are necessary to provide core capabilities like legal and
      intellectual property assurance, vendor-neutral governance, trademark stewardship for projects, and more.</p>
  </li>
</ol>
<p id="q_6"><strong>Q. What does the Eclipse Foundation offer its members?</strong></p>
<ol type="A">
  <li>
    <p>Membership in the Eclipse Foundation allows businesses and developers the opportunity to participate in a global,
      community-driven open ecosystem. Organisations and individuals join the Eclipse Foundation because they want to
      take an active role in supporting sustainable, commercializable open source technologies. In doing so, they
      protect their strategic investments by participating in defining priorities for advancing the technologies they
      care about, while sharing costs and driving industry adoption.</p>
    <p>
      Our members value our unique governance model and processes. In particular, Eclipse Foundation <a
        href="https://www.eclipse.org/org/workinggroups/explore.php">Working Groups</a> provide an open and
      vendor-neutral governance framework for individuals and organisations to engage in collaborative development to
      deliver high quality, scalable, and sustainable code that enterprises can use to build commercial products, grow
      revenues and drive market adoption. Through our <a href="https://www.eclipse.org/projects/dev_process/">Eclipse
        Development Process</a> we offer members a set of best practices that guide developers during the process of
      starting and advancing open source projects. Members also benefit from our legal and intellectual property
      management processes, which enable them to fully comply with antitrust laws, and provide legal assurance that they
      can successfully embed open source technology into their commercial products.
    </p>
  </li>
</ol>

<p id="q_7"><strong>Q. What does this move mean for members of the Foundation?</strong></p>
<ol type="A">
  <li>
    <p>As part of the move, we have created a new membership-based, open source, nonprofit foundation legally domiciled
      in Europe with policies and procedures allowing seamless international collaboration. Specifically, we have
      created a Belgian international not-for-profit association, Eclipse Foundation AISBL, domiciled in Brussels. In
      parallel, we have established a modern open source project development forge based on GitLab and physically hosted
      in Europe.</p>
    <p>The Eclipse and Eclipse Foundation names, trademarks, and brands will be controlled by the new European entity,
      as will the core policies such as antitrust and intellectual property. Our membership dues are stated in Euros.
      The existing Eclipse Foundation, Inc., incorporated under the laws of Delaware, continues to exist, and the two
      organisations’ operations continue to be managed with operations split between Canada and Europe. In short, there
      will be minimal to no impact to our operations.</p>
  </li>
</ol>

<p id="q_8"><strong>Q. What does this move mean for project committers and contributors?</strong></p>
<ol type="A">
  <li>
    <p>The short version is: keep doing what you’re doing. In the near-term, it will be “business as usual” for
      committers and contributors of Eclipse projects. Over time, projects that would like to use the European-domiciled
      GitLab-based forge are welcome to migrate their projects. We remain committed to communicating with our project
      committers and contributors before implementing any changes to our operations.</p>
    <p>As we expand our presence in Europe, we anticipate new opportunities for our global community members to
      participate in innovative new open source projects.</p>
  </li>
</ol>

<p id="q_9"><strong>Q. What does this move mean for European stakeholders?</strong></p>
<ol type="A">
  <li>
    <p>European policy makers and industry leaders alike recognize the need to pool their strengths to achieve
      collectively what they could not individually, and have identified open source as a key mechanism to support this
      via collaboration, innovation and interoperability.</p>
    <p>Open technologies are at the center of digitalization and will play an important role in driving the digital and
      industrial transformations called for by the European Commission in its recent strategies.</p>
    <p>To realize these ambitions and ensure the long term prosperity, Europe requires its own open source foundation
      with an international reach and reputation. By moving our legal residence to Europe, the Eclipse Foundation seeks
      contributions from a broad cross-section of European companies and governmental organisations to open source
      projects.</p>
  </li>
</ol>

<p id="q_10"><strong>Q. What does this move mean for global stakeholders?</strong></p>
<ol type="A">
  <li>
    <p>This move will provide global stakeholders more choice for their strategic open source initiatives. We believe
      that more choice and greater diversity will be of benefit to the global open source communities, and for the
      industries that rely upon and collaborate with them. The Eclipse Foundation aspires to be a truly global
      institution, now with a new European home. As one of the world’s largest open source foundations, the Eclipse
      Foundation is proud to host a global community of dedicated contributors, committers, and leading companies across
      industry sectors.</p>
    <p>Our goal is to accelerate the growth of an already broad and expanding open ecosystem of developers,
      organisations, and public sector entities collaborating to advance technologies that are expected to have a major
      impact on global economies, including the cloud, edge computing, artificial intelligence, connected vehicles,
      telecommunications, and the Internet of Things.</p>
    <p>We expect that this move will further foster the growth of a global, sustainable ecosystem with a competitive and
      level playing field that delivers broad benefits to developers and industry. In this way, we see the move offering
      increased global collaboration opportunities for organisations from all around the world.</p>
  </li>
</ol>
<p id="q_11"><strong>Q. Does this mean you are shutting down Eclipse Foundation-USA?</strong></p>

<ol type="A">
  <li>
    <p>No, there is no current intention to shut down our USA incorporated not-for-profit organisation.</p>
  </li>
</ol>

<p id="q_12"><strong>Q. Does this mean you are shutting down Eclipse Foundation Europe GmbH?</strong></p>
<ol type="A">
  <li>
    <p>No, there is no current intention to shut down our German incorporated for-profit subsidiary.</p>
  </li>
</ol>
<p id="q_13"><strong>Q. Does the Eclipse Foundation have a patent policy?</strong></p>
<ol type="A">
  <li>
    <p>Yes. Under the Eclipse Public License (EPL), each Contributor grants rights to create derivative works and for
      worldwide, royalty-free software redistribution in accordance with the EPL terms, including a royalty-free license
      to use Contributor’s patents as embodied in its contributions. Under the Eclipse Foundation Specification Process
      (EFSP) used for creating open industry specifications such as Jakarta EE, royalty-free patent licenses are granted
      to all implementations of the specifications published.</p>
    <p>
      You can find more information about Eclipse Foundation’s patent policy <a
        href="https://www.eclipse.org/legal/legalfaq.php#h.25gqlkbku1u9">here</a>. Further information about our
      intellectual property policy is also available <a
        href="https://www.eclipse.org/org/documents/Eclipse%20IP%20Policy2006_03_20.pdf">here</a>. Additional details
      about the EFSP can be found <a href="https://www.eclipse.org/projects/efsp/">here</a>.
    </p>
  </li>
</ol>
<p id="q_14"><strong>Q. How can I support this move to Europe?</strong></p>
<ol type="A">
  <li>
    <p>
      We need the ongoing support and engagement of European developers, community leaders, companies and funding
      agencies in order to ensure a successful transition. For more information and how to get involved, email <a
        href="mailto:eclipse-europe@eclipse.org">eclipse-europe@eclipse.org</a>.
    </p>
  </li>
</ol>