<p>
  <em>Abouts</em> contain legal documentation and are maintained in the
  source code repository and subsequently included in builds in <em>Eclipse
    Platform Plug-in and Fragments</em> and other directories. They
  usually contain information about licensing and sometimes also
  information about any use of cryptography. By convention, every
  Eclipse Platform Plug-in and Fragment usually has an <em>About</em>.
</p>
<blockquote>
  <p>
    <em>About</em> files are generally only applicable for content that
    that is delivered as <em>Eclipse Platform Plug-ins and Fragments</em>.
    For more information, please see <a href="https://www.eclipse.org/projects/handbook/#legaldoc">The Eclipse Project
      Handbook</a>
  </p>
</blockquote>

<p>
  All <em>Abouts</em> will be reviewed and approved by the EMO during
  the <a href="https://www.eclipse.org/projects/handbook/#reviews">Release Review</a>
  for your project.
</p>
<p>
  If you have any questions, please send an email to <a href="mailto:license@eclipse.org">license@eclipse.org</a>.
</p>
<p>
  There are two <em>About</em> file templates that committers can choose
  from. The <a href="#epl-2-about">first</a> one is for plug-ins where all of
  the content is to be licensed under the Eclipse Public License (<a href="/legal/epl-2.0">EPL</a>). If all the
  content in an Eclipse Platform Plug-in or Fragment, directory or module can be correctly
  licensed under the EPL then this simple (short) template can be used
  without modification.
</p>
<p>
  The <a href="#epl-2-about-long">second</a> template should be used when at least
  some of the content of the Eclipse Platform Plug-in or Fragment is
  licensed under a license other than the <a href="/legal/epl-2.0">EPL</a>.
  When using this longer template, your <em>Abouts</em> should be
  reviewed and approved by the relevant PMC, who can also assist
  committers with drafting an <em>About</em>.
</p>
<p>
  If your project content makes use of Cryptography, please send an
  email to <a href="mailto:license@eclipse.org">license@eclipse.org</a>
  to request assistance in creating the <em>About</em> file.
</p>

<h2 id="epl-2-about">
  <em>About</em> File Template for EPL 2.0 Content
</h2>

<p>
  Here is a relatively simple <a href="epl-2-about.html">template
    about.html</a> file that should suffice in most cases where the
  plug-in contains all Eclipse project-produced EPL 2.0 code.
</p>

<div class="html-content" id="epl-2-about-content"></div>

<p>
  For further information on the use of <em>Abouts</em>, and how these
  files should be included in your software distribution, please read
  the relevant section in the <a href="https://www.eclipse.org/projects/handbook/#legaldoc-plugins">Legal Documentation
    for Eclipse Platform Plug-ins and Fragments</a> (under the EPL-2.0).
</p>

<h2 id="epl-1-about">
  <em>About</em> File Template for EPL 1.0 Content
</h2>

<p>
  Here is a relatively simple <a href="epl-1-about.html">template about.html</a>
  file that should suffice in most cases where the plug-in contains all
  Eclipse project-produced EPL 1.0 code.
</p>

<div class="html-content" id="epl-1-about-content"></div>

<p>
  For further information on the use of <em>Abouts</em>, and how these
  files should be included in your software distribution, please read
  the relevant section in the <a href="https://www.eclipse.org/projects/handbook/#legaldoc-plugins">Guide to Legal
    Documentation under the EPL 1.0</a>.
</p>

<h2 id="epl-2-about-long">
  Third-Party Content <em>About</em> File Template for EPL 2.0
</h2>

<p>
  Here is an <a href="epl-2-longabout.html">template about.html</a>
  file that contains third-party content.
</p>

<div class="html-content" id="epl-2-about-long-content"></div>

<h2 id="epl-1-about-long">
  Third-Party Content <em>About</em> File Template for EPL 1.0
</h2>

<p>
  Here is an <a href="epl-1-longabout.html">template about.html</a> file that contains third-party content.
</p>

<div class="html-content" id="epl-1-about-long-content"></div>

<script async src="/public/js/generate-epl-about-content.js" type="text/javascript"></script>