{{/*
  Copyright (c) 2023 Eclipse Foundation, Inc.
  This program and the accompanying materials are made available under the
  terms of the Eclipse Public License v. 2.0 which is available at
  http://www.eclipse.org/legal/epl-2.0.
  Contributors:
    Olivier Goulet <olivier.goulet@eclipse-foundation.org>

  SPDX-License-Identifier: EPL-2.0
*/}}

<div class="row margin-top-60 margin-bottom-30">
  <div class="container">
    <div class="col-md-8 flex-align-center flex-justify-center match-height-item-by-row">
      <img class="img img-responsive hidden-xs hidden-sm" src="images/compliance.png" alt="" />
    </div>
    <div class="col-md-16 match-height-item-by-row">
      <h1>Compliance</h1>
    </div>
    <p class="subtitle col-xs-24 h2 text-lg-center text-primary-light">
      Contact us about copyright, privacy, or content issues.
    </p>
  </div>
</div>

<div class="row margin-bottom-60">
  <div class="tile-section-container col-md-8 bg-neutral-tinted bg-hover-darker">
    <section class="tile-section padding-40 match-height-item-by-row">
      <h2 class="h3 text-center margin-bottom-30">Copyright Agent</h2>
      <div class="tile-section-content">
        <p>
          We respect the intellectual property rights of others, and require
          that the people who use the Website do the same. Review our
          <a href="/legal/copyright.php">Copyright Agent</a>
          page to learn more or to contact us if you have a concern.
        </p>
      </div>
    </section>
  </div>

  <div class="tile-section-container col-md-8 bg-primary-light bg-hover-neutral-tinted-darker">
    <section class="tile-section padding-40 match-height-item-by-row">
      <h2 class="h3 text-center margin-bottom-30">Report Content Issues</h2>
      <div class="tile-section-content">
        <p>
          If you find any content that violates our 
          <a href="/legal/privacy.php">Privacy Policy</a> or our 
          <a href="/legal/termsofuse.php">Terms of Use</a>, please report 
          it to <a href="mailto:transparency@eclipse.org">transparency@eclipse.org</a>.
          Learn more about our <a href="/legal/compliance/dsa">content management and moderation practices</a>
          across our various online platforms.
        </p>
      </div>
    </section>
  </div>

  <div class="tile-section-container col-md-8 bg-neutral-tinted bg-hover-darker">
    <section class="tile-section padding-40 match-height-item-by-row">
      <h2 class="h3 text-center margin-bottom-30">Privacy Inquiries</h2>
      <div class="tile-section-content">
        <p>
          For questions regarding our compliance to privacy requirements
          including, for example, the EU’s General Data Protection Regulation
          (GDPR), or to make a request to be forgotten, please reach out to us
          at <a href="mailto:privacy@eclipse.org">privacy@eclipse.org</a>.
        </p>
      </div>
    </section>
  </div>
</div>

