<h2 id="registered">Registered Trademarks</h2>
<ul id="registered-tm-list"></ul>
<h3 id="other">Other Trademarks</h3>
<ul id="other-tm-list"></ul>
<h2 id="wg">Eclipse Foundation Working Groups</h2>
<ul id="wg-tm-list"></ul>
<h2 id="specifications">Eclipse Foundation Specifications</h2>
<ul id="spec-tm-list"></ul>
<h2 id="projects">Eclipse Foundation Projects</h2>
<ul id="projects-tm-list"></ul>
<script async src="/public/js/generate-trademark-list.js" type="text/javascript"></script>