<!--
  Copyright (c) 2024 Eclipse Foundation, Inc.
  This program and the accompanying materials are made available under the
  terms of the Eclipse Public License v. 2.0 which is available at
  http://www.eclipse.org/legal/epl-2.0.

  SPDX-License-Identifier: EPL-2.0
-->

{{ $logo_groups := $.Site.Data.org.artwork.logo_groups }}

<nav class="display-flex flex-wrap margin-bottom-40 margin-top-40 separated-items" aria-label="Logo Catalog">                
  {{ range $logo_groups }}
    <a class="catalog-link" href="./#{{ .title | anchorize }}">{{ .title }}</a>
  {{ end }}
</nav>

{{ range $logo_groups }}
  <h2 class="margin-top-60 margin-bottom-30" id="{{ .title | anchorize }}">{{ .title }}</h2>
  <div class="display-flex flex-wrap gap-20 margin-bottom-30">
    {{ range .items }}
      <div class="logo-card" id="{{ .title | anchorize }}">
        <div class="logo-title-container">
          <p class="logo-title">{{ .title }}</p>
        </div>
        <div class="logo-container flex-center">
          <img src="{{ .logo }}" alt="{{ .title }} logo">
        </div>
        {{ with .disclaimer }}
          <p class="margin-left-20 margin-right-20 margin-bottom-20">{{ . }}</p>
        {{ end }}
        {{ if .brand_guidelines }}
          <p class="margin-top-10 margin-left-20">
            <a href="{{ .brand_guidelines }}" title="Download {{ .title }} brand guidelines"><strong>Brand Guidelines</strong></a>
          </p>
        {{ end }}
        <p class="margin-top-10 margin-right-20 margin-left-20">
          Includes:
          {{ with .include_types }}
            <span class="separated-items">
              {{ range . }}
                <strong>{{ . }}</strong>
              {{ end }}
            </span>
            in
          {{ end }}
          {{ with .include_colours }}
            <span class="separated-items">
              {{ range . }}
                <strong>{{ . }}</strong>
              {{ end }}
            </span>
          {{ end }}
        </p> 
        <div class="logo-button-container">
          <a href="{{ .zip_files }}" title="Download {{ .title }} logo">Download</a>
        </div>
      </div>
    {{ end }}
  </div>
{{ end }}
