<!--
  Copyright (c) 2023 Eclipse Foundation, Inc.
  This program and the accompanying materials are made available under the
  terms of the Eclipse Public License v. 2.0 which is available at
  http://www.eclipse.org/legal/epl-2.0.
  Contributors:
    Olivier Goulet <olivier.goulet@eclipse-foundation.org>

  SPDX-License-Identifier: EPL-2.0
-->

{{ $id := .Get "id" | default "news-list" }}
{{ $type := .Get "type" | default "news" }}
{{ $title := .Get "title" }}
{{ $type := .Get "type" }}
{{ $image_url := .Get "image_url" }}
{{ $template_id := .Get "template_id" }}
{{ $subscribe_url := .Get "subscribe_url" }}
{{ $view_all_url := .Get "view_all_url" }}

{{ if not (in (.Page.Scratch.Get "news-container-ids") $id) }}
  {{ .Page.Scratch.Add "news-container-ids" (slice $id) }}
{{ end }}

{{ .Page.Scratch.SetInMap "mustache-templates" "tpl-home-news-list-item" "/js/src/templates/tpl-home-news-list-item.mustache" }}

<div class="news-section">
  <h2 class="margin-bottom-40">{{ $title }}</h2>
  <div class="news-section-container">
      <div class="news-section-action">
          <div class="news-section-action-img-wrapper">
              <img src="{{ $image_url }}" alt="" />
          </div>
          <div class="news-section-action-links btn-group">
            <a class="btn btn-block btn-secondary" href="{{$subscribe_url}}"><i class="fa fa-rss margin-right-5" aria-hidden="true"></i>Subscribe</a>
            <a class="btn btn-block btn-primary" href="{{$view_all_url}}">View All</a>
          </div>
      </div>
      <div
            id="{{ $id }}"
            class="news-items"
            data-news-count="3"
            data-news-type="{{ $type }}"
            data-publish-target="eclipse_org"
            data-template-id="tpl-home-news-list-item"
        >
      </div>
  </div>
</div>

