/*!
 * Copyright (c) 2024 Eclipse Foundation, Inc.
 *
 * This program and the accompanying materials are made available under the
 * terms of the Eclipse Public License v. 2.0 which is available at
 * http://www.eclipse.org/legal/epl-2.0.
 *
 * SPDX-License-Identifier: EPL-2.0
*/

@tiled-link-list-gap: 1rem;

.tiled-link-list {
  .list-inline;

  display: flex;
  flex-wrap: wrap;
  gap: @tiled-link-list-gap;
  margin: unset;
  list-style: none;

  li {
    width: calc(12.5% - @tiled-link-list-gap); // Fit 8 per row and account for gap
    min-width: 12rem;
    flex-shrink: 0;
    aspect-ratio: 1;
    padding: 0;
  }

  a {
    .link-unstyled;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 1rem;
    width: 100%;
    height: 100%;
    color: @black;
    background-color: @neutral-tinted;
    text-align: center;
    font-family: @headings-font-family;
    font-size: @font-size-lg;
    font-weight: 400;

    &:hover {
      background-color: @neutral-tinted-dark;
    }
  }
}

